[Unit]
Description=Simple Python Webserver
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user
ExecStart=/home/ec2-user/webServer.py 0.0.0.0:8080
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
